* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  width: 100%;
  height: auto;
}

.navbar {
  width: 100%;
  height: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.logo h2 {
  font-weight: 900;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(207, 204, 204);
  border-radius: 40px;
  gap: 30px;
  padding: 8px 24px;
}

.bar button {
  border-radius: 20px;
  padding: 8px 12px;
  background-color: transparent;
  margin-left: 10px;
}

.bar button:nth-child(2) {
  background-color: #333;
  color: white;
}

.container1 {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.left h1 {
  font-size: 48px;
}

.right {
  width: 40%;
  padding: 40px;
}

.btn {
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(255, 221, 0, 0.923);
  border: none;
  font-weight: 600;
}

.container2 {
  height: 400px;
  background-image: url(./close.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
}

.content {
  height: 150px;
  width: 250px;
  background-color: white;
  margin-block: 60px;
  margin-inline: 40px;
  padding: 20px;
  border-radius: 20px;
}

.content button {
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 12px;
  border: 1px solid rgb(230, 224, 224);
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
}

.container3 {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container3 h2 {
  font-size: 48px;
}

.container4 {
  width: 100%;
  height: 200px;
  padding: 40px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content1 {
  width: 30%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  border: 1px solid rgb(230, 224, 224);
  border-radius: 20px;
}

.content11 p {
  font-size: 20px;
}

.content11 button {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid rgb(205, 200, 200);
  background-color: transparent;
  margin-top: 20px;
}

.content11 button:nth-child(2) {
  background-color: white;
  color: black;
}

.content1:nth-child(2) {
  background-color: rgb(36, 35, 35);
  color: white;
}

.empty {
  border-top: 3px solid black;
  width: 20%;
  margin-left: 40%;
}

.container5 {
  width: 100%;
  height: auto;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container5 img {
  border-radius: 25px;
}

.section {
  width: 25%;
}

.section h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 40px;
}

.section1 {
  height: 300px;
  width: 350px;
  background-image: url(./images5.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px solid gray;
}

.left1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 20px;
}

.btn2 {
  padding: 4px 16px;
  border-radius: 10px;
  margin-bottom: 80px;
  background-color: white;
  font-weight: 600;
}

.left1 p {
  color: #333;
}

.left1 h4 {
  font-size: 22px;
}

.container6 {
  height: 400px;
  background-image: url(./banner.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left11 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 60px 40px;
  color: white;
}

.left11 h1 {
  font-size: 42px;
}

.right11 {
  margin-right: 20px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  height: 100px;
  width: 200px;
}

.right11 h1 {
  font-size: 24px;
}

.container7 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
  padding: 0px 40px;
}

.head {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.head h1 {
  font-size: 44px;
}

.sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 40px;
}

.sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

.sec21 {
  padding-top: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;
}

.sec2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.sec2 h5 {
  font-size: 20px;
}

.sec3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.sec3 button {
  background-color: #333;
  color: white;
  padding: 8px 12px;
  border-radius: 16px;
}
.container8 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
}

.last {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.last h1 {
  font-size: 44px;
}

.last1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.last11 {
  background-image: url(./rear.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 40px;
}

.last12 {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.end {
  width: 80%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(221, 214, 214);
  border-radius: 20px;
}

.end:first-child {
  background-color: rgba(251, 244, 244, 0.931);
  border: none;
}

.last121 h5 {
  font-size: 16px;
  margin-top: 10px;
}

.last131 h5 {
  font-size: 16px;
  margin-top: 10px;
}

.last141 h5 {
  font-size: 16px;
  margin-top: 10px;
}

.container9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 60px;
  gap: 60px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}

hr {
  width: 80%;
}

.copy {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

.border-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  display: flex;
  flex-direction: row;
  width: 40%;
  border-radius: 50%;
}

.black {
  border-top: 3px solid black;
  width: 50%;
  margin-left: 0%;
}

.gray {
  border-top: 3px solid rgb(197, 197, 197);
  width: 50%;
  margin-left: 0%;
}

@media (max-width: 768px) {
  .main-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    width: 100%;
    height: 80px;
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    width: 30px;
  }

  .logo h2 {
    font-size: 16px;
  }

  .nav {
    display: none;
  }

  .bar button:first-child {
    display: none;
  }

  .container1 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }

  .container2 {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
  }

  .content {
    height: 120px;
    width: 200px;
    background-color: white;
    margin-block: 20px;
    margin-inline: 20px;
    padding: 10px;
    border-radius: 20px;
  }

  .content button {
    padding: 6px 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid rgb(230, 224, 224);
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
  }

  .content h3 {
    font-size: 20px;
  }

  .left {
    width: 100%;
  }

  .left h1 {
    font-size: 24px;
  }

  .container3 h2 {
    font-size: 24px;
  }

  .container4 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    padding: 20px 20px;
  }

  .content1 {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 20px;
    flex-direction: column;
  }

  .border {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 50%;
  }

  .black {
    border-top: 3px solid black;
    width: 50%;
    margin-left: 0%;
  }

  .gray {
    border-top: 3px solid rgb(197, 197, 197);
    width: 50%;
    margin-left: 0%;
  }

  .container5 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
  }

  .section {
    width: 100%;
  }

  .section h1 {
    font-size: 24px;
    text-align: center;
  }

  .section p {
    text-align: center;
  }

  .section1 {
    height: 300px;
    width: 300px;
  }

  .container6 {
    height: auto;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    gap: 10px;
  }

  .left11 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    color: white;
  }

  .left11 h1 {
    font-size: 24px;
  }

  .right {
    width: 100%;
  }

  .right11 {
    margin-right: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
  }

  .container7 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap:40px;
  }

  .sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .sec21 {
    display: none;
  }

  .container8 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
  }

  .last1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .last12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .container9 {
    display: none;
  }

  .copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
  }
}

